

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');



html,body{
    background-color: #333;
    height: 100%;width: 100%;
    overflow: hidden;
}

.container{
  
    max-width: 672px;
    margin: 0 auto;
    color: white;
}
.my1 {
    display: flex;
    align-items: flex-start;
    
}
nav {
    margin-left:  360px;
    margin-top: 25px;
    font-weight: bold;
}

.list {
    display: flex;
    align-items: flex-end;

   
    list-style-type: none;
    color: white;
    margin-right: 10px;
}
a{
    color: rgba(255, 255, 255, .5);
    margin-right: 10px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif
    
}
.sitbor{
    color: white;
    border-bottom: solid 5px white;
}
.list a:hover{
    color: white;
    border-bottom: solid 5px rgba(255, 255, 255, .5);
}
.list a:focus{
    border-bottom: 4px solid gray;
}
main{
    text-align: center;
    color: white;
}
main p{
    text-align: center;
    width: 450px;
    font-weight:300px;
}
main button{
    padding: 20px;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 5px;
    font-weight: bold;
}
.flex_center{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
    line-height: 1.5;
}
.footer_bottom{
    color: rgba(255, 255, 255, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 38%;
}
footer .blog{
  
    color: white;
}
footer .blog:hover{
    text-decoration: underline;
}
.my1 h1{
    flex: 1 1 50px;
}
.my1 nav {
    flex:1 1 50px;
}
@media (max-width:676px){
    .my1{
        flex: 1 1 100%;
      flex-wrap: wrap;
  }
    
 } 
 @media (max-width: 676px) {
      h2 {
        margin-left: 200px;
     }
     nav {
margin-left:-160px;
margin-top: 50px;
     }
 }

